<div class="row">
  <div class="span6 offset3 hero-unit">

    <h1 class="page-header">Resend Confirmation Instructions</h1>

    <%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name),
                        :html => {  :method => :post, :class => 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :email, :label => "Email Address", :required => false, :input_html => { :class => "input-xlarge" } %>

      <div class="form-actions">
        <%= f.button :submit, "Resend confirmation instructions", :class => "btn btn-primary" %>
      </div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>

  </div>
</div>
