<div class="row" id="theme_form">
  <div class="span9">
    <fieldset>

      <% if f.object.persisted? %>
        <legend>Edit theme</legend>
      <% else %>
        <legend>New theme</legend>
      <% end %>

      <% if f.error_notification %>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= f.error_notification %>
        </div>
      <% end %>

      <div class="control-group" id="upload_theme">
        <p>You may upload a .zip of your theme, and I will extract information
         automatically from the style.css file.
        </p>
        <%= f.input :compressed_file %>
      </div>

      <div id="form-step-2" class="hidden">
        <div class="hidden" id="confirm_details">
          <p>Please confirm the details below and submit to add package.</p>
        </div>
        <%= f.input :name, input_html: {class: 'input-xlarge'} %>
        <%= f.input :version, input_html: {class: 'input-xlarge'} %>
        <%= f.input :description, input_html: {class: 'input-xlarge'} %>
        <%= f.input :license, input_html: {class: 'input-xlarge'} %>
        <%= f.input :license_uri, input_html: {class: 'input-xlarge'} %>
        <%= f.input :tags, input_html: {class: 'input-xlarge'} %>
      </div>
      
      <div class="form-actions">
        <%= f.button :submit, class: 'btn-primary', value: 'Save Theme' %>
        <%= link_to 'Cancel', themes_path %>
      </div>
    </fieldset>
  </div>
</div>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'jquery.plupload.queue' %>
<% end %>
<% content_for(:javascript) do %>
<%= javascript_include_tag "plupload.full", "jquery.plupload.queue" %>
<%= javascript_include_tag "theme_uploader" %>
<script type="text/javascript">
  <% session_key_name = Rails.application.config.session_options[:key] %>
  var global_response = null;
  jQuery(document).ready(function() {
    $("#upload_theme").pluploadQueue({
      runtimes: 'html5,flash,silverlight',
      url: '<%= validate_zip_themes_path %>',
      max_file_size: '10mb',
      multiple_queues: true,
      flash_swf_url: "/javascripts/plupload/plupload.flash.swf",  
      silverlight_xap_url: "/javascripts/plupload/plupload.silverlight.xap",
      multipart: true,
      multipart_params: {
        '_http_accept': 'application/javascript',
        'authenticity_token' : '<%= form_authenticity_token %>',
        '<%= session_key_name %>' : encodeURIComponent('<%= u cookies[session_key_name] %>')
      },
      filters: [
        {title: "Compressed theme file", extensions: "zip"}
      ],
      init: {
        FileUploaded: function(up, file, info) {
          global_response = $.parseJSON(info.response);
          handleUpload(info);
        }
      }
    });
  });
</script>
<% end %>
