<h1 class="page-header">Themes</h1>

<ul class="thumbnails" id="theme_list">
  <% @themes.each do |theme| %>
  <li class="span3 theme" id="theme-<%=theme.id%>" data-theme-id="<%=theme.id%>">
    <div class="thumbnail">
      <img src="http://placehold.it/300x225" alt="<%= theme.name %>" />
      <div class="caption">
        <h4>
          <span class="name"><%= theme.name %></span> <span class="version"><%= theme.version %></span>
        </h4>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn btn-mini btn-primary update-theme-button" id="update-<%=theme.id%>" href="#">new version</a>

            <%= link_to 'delete theme', theme_path(theme), method: :delete,
                confirm: 'Are you sure?', class: 'btn btn-mini btn-danger' %>
          </div>
        </div>
      </div>
    </div>
  </li>
  <% end %>

  <li class="span3">
    <%= link_to '#', id: 'upload_new_theme_file' do %>
      <img src="http://placehold.it/300x313&amp;text=new+theme" alt="New theme" />
    <% end %>
  </li>
</ul>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'jquery.plupload.queue' %>
<% end %>
<% content_for(:javascript) do %>
<%= javascript_include_tag "plupload.full", "jquery.plupload.queue" %>
<%= javascript_include_tag "theme_uploader" %>
<script type="text/javascript">
  var uploader = null;

  <% session_key_name = Rails.application.config.session_options[:key] %>
  var uploaderSettings = {
        '_http_accept': 'application/javascript',
        'authenticity_token' : '<%= form_authenticity_token %>',
        '<%= session_key_name %>' : encodeURIComponent('<%= u cookies[session_key_name] %>')
  };
  jQuery(document).ready(function() {
    uploader = new plupload.Uploader({
      runtimes: 'html5, flash, silverlight',
      url: '<%= themes_path %>',
      max_file_size: '10mb',
      container: 'upload_theme',
      multiple_queues: false,
      browse_button: 'upload_new_theme_file',
      multipart: true,
      multipart_params: uploaderSettings,
      filters: [
        {title: "Compressed theme file", extensions: "zip"}
      ],
    });

    uploader.init();

    uploader.bind('FileUploaded', function(up, file, info) {
      themeMy.themeForm.handleCreate(info);
    });

    uploader.bind('FilesAdded', function(up, files) {
      uploader.start();
    });


  });
</script>
<% end %>

<div id="upload_theme">
  <a id="start_uploading_theme"></a>
</div>