<h2 class="page-header"><%= @theme.name %> <%= @theme.theme_version %></h2>

<% attributes = [:theme_version, :uri, :author, :author_uri, :description,
                 :license, :license_uri, :status, :template] %>

<div class="row">
  <ul class="span6 ">
    <% attributes.each do |attr| %>
      <% unless @theme.read_attribute(attr).nil? %>
      <li>
        <%= Theme.human_attribute_name(attr) %>: <%= @theme.read_attribute(attr) %>
      </li>
      <% end %>
    <% end %>
  </ul>

  <div style="float:right;">
    <%= image_tag @theme.screenshot %>
  </div>
</div>

<% unless @packages.empty? %>
<hr />
<h3>Packages</h3>
<ul>
  <% @packages.each do |package| %>
    <li><%= link_to package.name, edit_package_path(package) %> 
      (<%=pluralize(package.purchases.count, 'purchase')%>)
    </li>
  <% end %>
</ul>
<% end %>

<% unless @older_versions.empty? %>
<hr />

<h3>Older versions</h3>
<ul>
  <% @older_versions.each do |version| %>
    <li>
      <%= "#{version.name} #{version.theme_version}" %>
      <%= link_to version.archive.url do %>
         <i class="icon-download-alt"></i>
      <% end %>
      <%= link_to version_theme_path(@theme, version.version), method: :delete, confirm: "Are you sure?" do %>
        <i class="icon-remove"></i>
      <% end %> 
    </li>
  <% end %>
</ul>
<% end %>

