<h2 class="page-header"><%= @theme.name %> <%= @theme.current_version %></h2>

<% attributes = [:version, :uri, :author, :author_uri, :description,
                 :license, :license_uri, :status, :template] %>

<div class="row">
  <ul class="span6 ">
    <% attributes.each do |attr| %>
      <% unless @theme.versions.current.read_attribute(attr).nil? %>
      <li>
        <%= Theme.human_attribute_name(attr) %>: <%= @theme.versions.current.read_attribute(attr) %>
      </li>
      <% end %>
    <% end %>
  </ul>

  <div style="float:right;">
    <%= image_tag @theme.screenshot %>
  </div>
</div>

<% unless @packages.empty? %>
<hr />
<h3>Packages</h3>
<ul>
  <% @packages.each do |package| %>
    <li><%= link_to package.name, edit_package_path(package) %> 
      (<%=pluralize(package.purchases.count, 'purchase')%>)
    </li>
  <% end %>
</ul>
<% end %>

<% unless @versions.empty? %>
<hr />

<h3>All Versions</h3>
<ul>
  <% @versions.each do |version| %>
    <li>
      <%= version.version %>
      <%= link_to version.attachment.url do %>
         <i class="icon-download-alt"></i>
      <% end %>
      <%# link_to versions_path(@theme, version.version), method: :delete, confirm: "Are you sure?" do %>
        <i class="icon-remove"></i>
      <%# end %>
    </li>
  <% end %>
</ul>
<% end %>

