<h1 class="page-header">Themes</h1>

<%= render_navigation :renderer => Breadcrumbs %>

<h2 class="page-header"><%= @theme.name %> <%= @theme.current_version %></h2>

<% attributes = [:version, :uri, :author, :author_uri, :description,
                 :license, :license_uri, :status, :template] %>

<div class="row">
  <dl class="span6">
    <% attributes.each do |attr| %>
      <% unless @theme.versions.current.read_attribute(attr).nil? %>
        <dt><%= Theme.human_attribute_name(attr) %></dt>
        <dd><%= @theme.versions.current.read_attribute(attr) %></dd>
      <% end %>
    <% end %>
  </dl>

  <div class="pull-right">
    <%= image_tag @theme.screenshot %>
  </div>
</div>

<% unless @versions.empty? %>
<hr />
<h3>All Versions</h3>
<ul>
  <% @versions.each do |version| %>
    <li>
      <%= version.version %>
      <%= link_to version.download_url, title: "Download Version #{version.version}" do %>
         <i class="icon-download-alt"></i>
      <% end %>
      <%- if @theme.current_version != version.version -%>
        <%= link_to theme_version_path(@theme, version.id), method: :delete, confirm: "Are you sure?", title: "Delete Version #{version.version}" do %>
          <i class="icon-remove"></i>
        <% end %>
      <%- end -%>
    </li>
  <% end %>
</ul>
<% end %>

<% unless @packages.empty? %>
<hr />
<h3>Packages</h3>
<ul>
  <% @packages.each do |package| %>
    <li><%= link_to package.name, edit_package_path(package) %> 
      (<%=pluralize(package.purchases.count, 'purchase')%>)
    </li>
  <% end %>
</ul>
<% end %>

