<div class="row">
  <div class="span6 offset3 hero-unit">

    <h1 class="page-header">Change Password</h1>

    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name),
                        :html => {  :method => :put, :class => 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, :as => :hidden %>
      <%= f.full_error :reset_password_token %>

      <%= f.input :password, :label => "New Password" %>
      <%= f.input :password_confirmation, :label => "Confirm New Password" %>

      <div class="form-actions">
        <%= f.button :submit, "Save Password", :class => "btn btn-primary" %>
        <%= link_to "Return to Login Page", new_user_session_path, :class => "btn" %>
      </div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>

  </div>
</div>
