<div class="row">
  <div class="span6 offset3 hero-unit">

    <h1 class="page-header">Forgot Your Password?</h1>

    <p>No worries, enter your email address below and we'll send you login instructions right away.</p>

    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name),
                        :html => {  :method => :post, :class => 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :email, :label => "Email Address", :required => false, :input_html => { :class => "input-xlarge" } %>

      <div class="form-actions">
        <%= f.button :submit, "Send Me Instructions", :class => "btn btn-primary" %>
        <%= link_to "Return to Login Page", new_user_session_path, :class => "btn" %>
      </div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>

  </div>
</div>
