<h1 class="page-header">User Account</h1>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
                    :html => { :method => :put, :class => 'form-horizontal' },
                    :defaults => { :required => false, :input_html => { :class => "input-xlarge" } }) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <legend>Personal Details</legend>
    <%= f.input :first_name, :autofocus => true, :label => "First Name" %>
    <%= f.input :last_name, :label => "Last Name" %>
    <%= f.input :email, :label => "Email Address" %>
    <%= f.input :current_password, :label => "Password", :hint => "We need your current password to confirm your changes" %>
  </fieldset>

  <fieldset>
    <legend>Change Password</legend>
    <%= f.input :password, :label => "New Password", :autocomplete => "off", :hint => "Leave it blank if you don't want to change it" %>
    <%= f.input :password_confirmation, :label => "Confirm New Password" %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, "Save Changes", :class => "btn btn-primary" %>
    <%= link_to "Cancel", edit_user_registration_path, :class => "btn"  %>
  </div>
<% end %>
