<div class="row">
  <div class="span6 offset3 hero-unit">

    <h1 class="page-header">New Account</h1>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
                        :html => { :class => 'form-horizontal' },
                        :defaults => { :required => false, :input_html => { :class => "input-xlarge" } }) do |f| %>
      <%= f.error_notification %>

      <fieldset id="business-details">
        <legend>Business details</legend>
        <%= f.simple_fields_for :business, resource.business do |g| %>
          <%= g.input :name, :autofocus => true %>
          <%= g.input :email %>
        <% end %>
      </fieldset>

      <fieldset id="user-details">
        <legend>User details</legend>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%# TODO: i18n password & confirmation (don't clash with registrations#edit)
        <%= f.input :password, :label => "Password" %>
        <%= f.input :password_confirmation, :label => "Password Again" %>
      </fieldset>

      <div class="form-actions">
        <%= f.button :submit, "Create Account", :class => "btn btn-primary" %>
      </div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>

  </div>
</div>
