<%= simple_form_for [@customer, @purchase], html: { class: 'form-horizontal hide-if-js' },
  defaults: { required: false, input_html: { class: 'input-xlarge' } } do |f| %>

  <fieldset>
    <legend>New Purchase</legend>

    <%= f.input :package_id, as: :radio_buttons,
      collection: @business.packages.all, value_method: :id, label_method: :name %>

    <script type="text/javascript">
      var has_all_extensions = <%= collection_for_purchase_packages_has_all_extensions.html_safe %>
    </script>

    <div id="products"<%- unless f.object.has_all_extensions === true -%> class="hide-if-js"<%- end -%>>
      <%- unless @business.themes.blank? -%>
        <%= f.input :extension_ids, as: :check_boxes, label: "Themes",
          collection: @business.themes.all, value_method: :id, label_method: :name %>
      <%- end -%>

      <%- unless @business.plugins.blank? -%>
        <%= f.input :extension_ids, as: :check_boxes, label: "Plugins",
          collection: @business.plugins.all, value_method: :id, label_method: :name %>
      <%- end -%>
    </div>

    <%= f.input :purchase_date, input_html: { class: 'input-small' },
      as: :date, start_year: 2008, end_year: Date.today.year, order: [:day, :month, :year] %>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn-primary', value: 'Save Purchase' %>
      <%= link_to 'Cancel', "#new_purchase", class: 'hide-target' %>
    </div>
  </fieldset>

<% end %>
