<div id="<%= purchase.id %>" class="span3 well">
  <h3><%= purchase.package_name %></h3>
  <ul class="unstyled">
    <%- unless purchase.themes.blank? -%>
      <li><%= purchase_themes_description(purchase) %></li>
    <%- end -%>
    <%- unless purchase.plugins.blank? -%>
      <li><%= purchase_plugins_description(purchase) %></li>
    <%- end -%>
    <li><%= subscription_description(purchase) %>: $<%= purchase.price %></li>
    <li><%= purchase_date_description(purchase) %></li>
    <li><%= purchase_expiration_description(purchase) %></li>
    <li><%= number_of_domains_description(purchase) %></li>
  </ul>
  <div>
    <%- if purchase.is_subscription -%>
      <%= link_to 'Renew', renew_customer_purchase_path(@customer, purchase), method: :put, confirm: "Are you sure you want to renew the subscription?", title: 'Renew Subscription' %> |
    <%- end -%>
    <%= link_to 'Delete', customer_purchase_path(@customer, purchase), method: :delete, confirm: "Are you sure you want to delete the purchase?", title: 'Delete Purchase' %>
  </div>
</div>
