<div id="<%= purchase.id %>" class="span3 well">
  <h3><%= purchase.package.name %></h3>
  <ul class="unstyled">
    <li><%= purchase_themes_description(purchase) %></li>
    <li><%= purchase_date_description(purchase) %></li>
    <li><%= purchase_expiration_description(purchase) %></li>
  </ul>
  <div style="margin-top:20px;">
    <%- if purchase.expired? -%>
      <%= link_to 'Renew' %>
    <%- else -%>
      <%= link_to 'Edit', edit_customer_purchase_path(@customer, purchase) %> |
      <%= link_to 'Delete', customer_purchase_path(@customer, purchase), method: :delete, confirm: "Are you sure?", title: 'Delete Purchase' %>
    <%- end -%>
  </div>
</div>
