<h1 class="page-header">Customers <%= link_to 'Add New', new_customer_path, class: 'btn' %></h1>

<%= paginate @customers %>

<table class="table table-striped" id="customers-table">
  <thead>
    <tr>
      <th class="span3">Email</th>
      <th>Packages</th>
      <th>Themes</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr id="<%=customer.id%>" class="customer">
        <td>
          <%= customer.email %>
          <span class="row-actions hide-if-js">
            <%= link_to customer_path(customer), title: "Delete Customer", method: :delete, confirm: 'Are you sure?' do %>
              <i class="icon-remove"></i> delete
            <% end %>
          </span>
        </td>
        <td>
          <%= customer.package_names.join(", ") %>
          <span class="row-actions hide-if-js">
            <%= link_to customer_purchases_path(customer), title: "Edit Customer's Purchases" do %>
              <i class="icon-pencil"></i> edit
            <% end %>
          </span>
        </td>
        <td>
          <%= customer.theme_names.join(", ") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @customers %>
