<h1 class="page-header">Customers</h1>

<p>
<%= link_to 'New Customer', new_customer_path, class: 'btn' %>
<a class="btn" href="">Import CSV</a>
</p>

<%= paginate @customers %>

<table class="table table-striped" id="customers-table">
  <thead>
    <tr>
      <th class="span3">Email</th>
      <th>Packages</th>
      <th>Themes</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr id="<%=customer.id%>" class="customer">
        <td>
          <%= customer.email %>
          <span class="actions">
          <%= link_to edit_customer_path(customer), title: "Edit Customer" do %>
            <i class="icon-pencil"></i> edit
          <% end %>
          |
          <%= link_to customer_path(customer), title: "Delete Customer", method: :delete, confirm: 'Are you sure?' do %>
            <i class="icon-remove"></i> delete
          <% end %>
          </span>
        </td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @customers %>
