<h1 class="page-header">Customers <%= link_to 'Add New', new_customer_path, class: 'btn' %></h1>

<%= paginate @customers %>

<table class="table table-striped" id="customers-table">
  <thead>
    <tr>
      <th class="span3">Email</th>
      <th>Packages</th>
      <th>Products</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr id="<%=customer.id%>" class="customer">
        <td>
          <%= link_to customer_path(customer), title: "Delete Customer", method: :delete, confirm: 'Are you sure?' do %>
            <i class="icon-remove"></i>
          <% end %>
          <%= customer.email %>
        </td>
        <td>
          <%= link_to customer_purchases_path(customer), title: "Edit Customer's Purchases" do %>
            <i class="icon-pencil"></i>
            <%= customer.package_names(@business).join(", ") %>
          <% end %>
        </td>
        <td>
          <%= customer.extension_names(@business).join(", ") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @customers %>
