<h1 class="page-header">Customers</h1>

<%= render_navigation :renderer => Breadcrumbs %>

<%= simple_form_for @customer, html: { class: 'form-horizontal' }, defaults: { required: false, input_html: { class: 'input-xlarge' } } do |f| %>

  <legend>New Customer</legend>

  <%= f.error_notification %>

  <%= f.input :email, autofocus: true %>

  <div class="form-actions">
    <%= f.submit 'Save Customer', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', customers_path, class: 'btn' %>
  </div>
<% end %>
