<%= render :partial => 'settings/layout' %>

<div class="row">
  <div class="span9">
    <%= simple_form_for @business, url: settings_business_path, html: {class: 'form-horizontal'}, defaults: {input_html: {class: 'input-xlarge'}} do |f| %>
      <%= f.error_notification %>

      <legend>Company Profile</legend>

      <div class="control-group">
        <p>Please make sure this information is accurate.
        Your customers will use it to get in touch with you.</p>
      </div>

      <%= f.input :name, label: 'Company Name' %>
      <%= f.input :email, label: 'Email Address' %>
      <%= f.input :country %>
      <div class="control-group">
        <%= f.label :street1, label: 'Address' %>
        <div class="controls">
          <p><%= f.input_field :street1, class: 'input-xlarge' %></p>
          <%= f.hint '<label for="business_street1">Street 1</label>'.html_safe %>
          <p><%= f.input_field :street2, class: 'input-xlarge' %></p>
          <%= f.hint '<label for="business_street2">Street 2</label>'.html_safe %>
          <div class="row">
            <div class="span2">
              <p><%= f.input_field :city, class: 'input-medium' %></p>
              <%= f.hint '<label for="business_city">City</label>'.html_safe %>
            </div>
            <div class="span2">
              <p><%= f.input_field :state, class: 'input-medium' %></p>
              <%= f.hint '<label for="business_state">State/Province/Region</label>'.html_safe %>
            </div>
            <div class="span2">
              <p><%= f.input_field :zip, class: 'input-small' %></p>
              <%= f.hint '<label for="business_zip">Zip/Postal Code</label>'.html_safe %>
            </div>
          </div>
        </div>
      </div>
      <%= f.input :phone %>
      <%= f.input :time_zone, label: 'Time Zone' %>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn-primary', value: 'Save Changes' %>
        <%= link_to 'Cancel', settings_business_path, class: 'btn' %>
      </div>

    <% end %>
  </div>
</div>
